@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;900&family=Passero+One&display=swap");

* {
  font-family: "Overpass", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
label,
select,
button,
span,
h4 {
  font-size: 20px;
}
dt,
button,
a {
  font-weight: bold;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://i.pinimg.com/564x/12/dc/29/12dc29241535c318712d951e97e6d283.jpg);
  margin: 1rem;
}

header {
  display: flex;
  margin: 1rem;
  padding-left: 4rem;
  background-color: #333333c7;
  height: 8rem;
  align-items: center;
  border-radius: 20px 0;
  justify-content: space-between;
}
header .icon {
  display: none;
}
.titlteSW {
  color: #d7d700;
  font-size: 4rem;
  letter-spacing: 3px;
  font-family: "Passero One", sans-serif !important;
}
main {
  margin: 1rem;
  padding: 1rem 0rem 1rem 2rem;
  border-radius: 20px 0;
  line-height: 2rem;
  letter-spacing: 2px;

  background: rgb(189, 189, 189);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(249, 99, 86, 1) 0%,
    rgba(168, 205, 226, 1) 48%,
    rgba(149, 236, 62, 1) 100%
  );
  background-size: 300% 100%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h2 {
  font-size: 30px;
  letter-spacing: 5px;
  font-family: "Passero One", sans-serif !important;
}
h4 {
  font-family: "Passero One", sans-serif !important;
}
.stadistics {
  display: inline-flex;
  padding: 0.5rem 1rem;
  width: 100%;
  justify-content: space-evenly;
}

.stadistics p {
  background-color: #ebebeb;
  color: #333333;
  padding: 1rem 4rem;
  font-family: "Passero One", sans-serif !important;
  font-size: larger;
  border-radius: 10px 0px;
}
.stadistics p:hover {
  background-color: #640808;
  color: white;
}
.containerModal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.containerFilter label {
  background-color: #d7d700;
  padding: 14px 0 14px 20px;
  border-radius: 10px 0 0 0;
}
.containerFilter select {
  background-color: #d7d700;
  padding: 13px 19px 13px 5px;
  border: none;
  outline: none;
  border-radius: 0 0 10px 0;
  line-height: 1rem;
  width: 13rem;
  cursor: pointer;
}
.containerFilter option:nth-child(1) {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 6rem;
  justify-content: space-evenly;
}
.buttons #applyFilter,
#clearFilter {
  height: 35px;
  width: 6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ebebeb;
  color: #333333;
}
#applyFilter:hover {
  background-color: #4ed62c;
  color: white;
}

#clearFilter:hover {
  background-color: #174bf4;
  color: white;
}

.cardsBox .character {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
  gap: 1rem;
  color: #333333;
}

.cards {
  background-color: #ebebebb3;
  border-radius: 50px 0;
  width: 24rem;
  height: auto;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
  cursor: pointer;
}
.cards div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards .imgCards {
  width: 15rem;
  height: 15rem;
  border: 2px solid #640808;
  padding: 4px;
  border-radius: 50%;
  margin: 1rem;
}
.cards .infCrtr {
  width: 100%;
  display: flex;
  flex-direction: column;
}
dt {
  padding-right: 5px;
}
dd {
  font-weight: lighter;
}
span {
  display: flex;
  flex-direction: row;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.cards button {
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  letter-spacing: 1px;
  color: #333333;
}
.cards button:hover {
  background-color: #640808;
  color: #ebebeb;
}
footer {
  display: flex;
  letter-spacing: 3px;
  align-items: center;
  justify-content: center;
}
a {
  color: #ebebeb;
  text-decoration: none;
  padding-left: 1rem;
}

.factsCard {
  display: flex;

  line-height: 30px;
  background-color: #ebebebb3;
  border-radius: 50px 0;
  max-width: 100%;
  padding: 1rem 2rem;
  margin: 1rem;
}
.factsCard img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  border: 2px solid #640808;
  padding: 4px;
  border-radius: 50%;
}
.nameFact {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.factsCard div:nth-child(2) {
  padding-left: 3rem;
}
.containerError {
  position: relative;
  height: 94vh;
  background: #030005;
}
.containerError .errorBox {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.errorBox {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}
.errorBox .notFound {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}
.errorBox .notFound h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 57%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: 6rem;
}
.errorBox .notFound h2 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}
.errorBox a {
  display: inline;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.errorBox a:hover {
  color: #8400ff;
}
/*chat indi*/
.containerChati,
.containerChatG {
  display: flex;
  margin: 1rem;
}
.profiletCtn,
.profileGroup {
  background-color: #ebebebb3;
  border-radius: 20px 0 20px 0;
  padding: 1rem;
  margin-right: 1rem;
  height: 50vh;
}
.imgProfileChat {
  border-radius: 50%;
  width: 35vh;
  height: 35vh;
  border: 2px solid #640808;
  padding: 4px;
  margin-bottom: 1rem;
}

.chatCtn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chatBox {
  border-radius: 20px 0 20px 0;
  background-color: #111111;
  height: 40vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
}
.chatBox::-webkit-scrollbar {
  width: 10px;
}
.chatBox::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.chatBox::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.chatCtn img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #03b52a;
  margin: 0 1rem 0 0;
}

.userCtn {
  display: flex;
  flex-direction: column;
}
.userCtn_inner {
  display: flex;
  margin-bottom: 1rem;
  flex: 1;
  align-items: end;
}
.userCtn_spacer {
  flex: 1;
}

.userCtn #textUser {
  display: block;
  border-radius: 20px 20px 0 20px;
  background-color: #0039b554;
  max-width: calc(100% - 67px);
  height: auto;
  overflow-wrap: break-word;
  padding: 1rem;
  color: #cacaca;
  font-size: medium;
  font-weight: 100;
}
.userCtn #textIACharacter {
  background-color: #00b52854;
  border-radius: 20px 20px 20px 0;
  max-width: calc(100% - 67px);
  height: auto;
  overflow-wrap: break-word;
  padding: 1rem;
  color: #cacaca;
  font-size: medium;
  font-weight: 100;
  flex: 1;
}
.userCtn .icon-user {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #0c63c7;
  margin: 0 0 0 1rem;
}
.textAreaCtn {
  display: flex;
  height: 3rem;
}
.textAreaCtn textarea {
  width: 100%;
  letter-spacing: 2px;
  padding: 15px;
  color: #cacaca;
  overflow: hidden;
  margin-right: 1rem;
  resize: none;
  outline: none;
  border: none;
  border-radius: 12px;
  background: transparent;
  backdrop-filter: blur(10px);

  border-top: 3px solid #640808;
  background-image: linear-gradient(#640808, transparent),
    linear-gradient(#640808, transparent);
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}
.textAreaCtn button {
  border-radius: 50% 0 50% 50%;
  padding: 6px;
  background: rgb(215, 215, 0);
  background: linear-gradient(
    235deg,
    rgba(215, 215, 0, 1) 0%,
    rgba(100, 8, 8, 1) 100%
  );
  border: none;
}
.modalApikey {
  display: flex;
  justify-content: center;
}
.modal_containerapikey {
  background-color: transparent;
  backdrop-filter: blur(10px);
  margin: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  width: 55%;
}
.modalApikey p {
  font-size: x-large;
  letter-spacing: 2px;
  color: #cacaca;
}
.modalApikey input {
  width: 50vh;
  padding: 7px;
  border: 3px solid #03b52a;
  border-radius: 4px;
  background-color: transparent;
  color: #cacaca;
  outline: none;
  font-size: large;
  letter-spacing: 2px;
}
.modalApikey input:hover {
  border: 3px solid #640808;
}
.modalApikey button {
  width: 12rem;
  cursor: pointer;
  background-color: #03b52a;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  letter-spacing: 1px;
}
.modalApikey button:hover {
  background-color: #640808;
}
.btnCtnApiKey button,
.btnCtnChG button {
  background-color: #d7d700;
  position: fixed;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.69);
}
.btnCtnChG button {
  bottom: 1rem;
}
.btnCtnApiKey button {
  bottom: 6rem;
}
.btnCtnApiKey .fa-regular {
  background-color: transparent;
}
/*chat grupal*/
.chatBox {
  color: #cacaca;
  padding: 1rem;
}
.userCtnG span {
  font-size: small;
  font-weight: normal;
  background-color: #00b52854;
  padding: 4px 12px;
  border-radius: 13px;
}

@media only screen and (max-width: 1180px) and (min-width: 300px) {
  .titlteSW {
    letter-spacing: 3px;
    font-size: 20px;
    padding: 0;
  }
  header {
    padding-left: 1rem;
    height: 3rem;
    width: 100%;
    margin: 0 0 8px 0;
  }
  header .icon {
    display: flex;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
  }
  main {
    padding: 8px;
    line-height: 1rem;
    text-align: center;
    margin: 0;
  }
  main h2 {
    font-size: 16px;
    letter-spacing: 1px;
  }
  main h4 {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .stadistics {
    padding-top: 1rem;
  }
  .containerFilter {
    background-color: rgba(0, 0, 0, 0.336);
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
  }
  .containerModal {
    background-color: #640808;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px 0;
    height: 100vh;
    width: 67%;
    padding: 2rem;
    justify-content: flex-start;
    flex-direction: column;
  }

  .containerFilter--show {
    opacity: 1;
    pointer-events: unset;
  }

  .filterSpecies,
  .filterAffiliation,
  .sortBy {
    height: 10rem;
    margin: 2rem;
    width: 100%;
  }

  .containerFilter label {
    margin-bottom: 1rem;
    letter-spacing: 1px;
    background-color: transparent;
    color: aliceblue;
    width: 100%;
  }
  .containerFilter select {
    width: 16rem;
    background-color: transparent;
    color: aliceblue;
    width: 100%;
    display: flex;
  }
  .containerFilter option {
    background-color: #3c0808;
    color: aliceblue;
    position: relative;
    font-size: 12px !important;
  }
  .buttons {
    height: 10rem;
    width: 100%;
  }
  .buttons #applyFilter,
  #clearFilter {
    background-color: #d7d700;
    width: 12rem;
    height: 6rem;
    margin-bottom: 1rem;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
  }
  .stadistics {
    display: flex;
    flex-wrap: wrap;
  }
  .stadistics p {
    width: 70%;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 7px;
  }
  .cards {
    display: flex;

    flex-direction: row;
    padding: 8px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .cards .imgCards {
    width: 6rem;
    height: 6rem;
    margin: 3px 10px 5px 0;
  }
  .cards .infCrtr {
    padding-right: 15px;
  }
  .cards div span {
    font-size: 12px;
  }
  .cards button {
    font-size: 13px;
  }
  footer {
    padding-top: 1rem;
  }
  footer a {
    font-size: 10px;
  }
  /*chat individual*/
  .containerChati,
  .containerChatG {
    display: flex;
    flex-flow: column;
    margin: 8px 0;
  }
  .imgProfileChat {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .nameFact {
    font-size: 16px;
  }
  .profiletCtn {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    align-items: center;
    height: 3rem;
    padding: 8px;
  }
  .chatBox {
    height: 55vh;
    margin-top: 1rem;
  }
  .userCtn .icon-user {
    width: 2rem;
    height: 2rem;
  }
  /*.userCtn .imgProfileChat {
    width: 2rem;
    height: 2rem;
  }*/
  /*info peersonajes*/
  .factsCard {
    display: flex;
    flex-direction: column;
  }
  .factsCard img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }
  .factsCard div:nth-child(1) {
    display: flex;
    align-items: center;
  }
  .factsCard div:nth-child(2) {
    padding: 1rem 0 0 0;
  }
  dt,
  dd {
    font-size: 12px;
    line-height: 13px;
  }
  /*botones flotante*/
  .btnCtnApiKey button,
  .btnCtnChG button {
    width: 2rem;
    height: 2rem;
  }
  .btnCtnApiKey button {
    top: 8rem;
  }
  .btnCtnChG button {
    top: 11rem;
  }
  /*apikey*/
  .modal_containerapikey {
    width: 100%;
    height: 75vh;
  }
  .modalApikey input {
    width: 35vh;
    font-size: 12px;
  }
  .modalApikey p {
    font-size: 16px;
    text-align: center;
  }
  .modalApikey button {
    font-size: small;
  }
}
